#member {
  height:400px;
}
#member img {
  margin-right:20px;
}
#member table tr{
  height:40px;
  line-height: 40px;
}
#member table input {
  border:1px solid #999;
  height:25px;
}
.media {
  margin-left: 150px;
  margin-top: 50px;
}