#member {
  height:400px;
}
#member img {
  margin-right:20px;
}
#member ul li{
  height:40px;
  line-height: 40px;
}
#member ul li span {
  color: #985f0d;
  font-weight:bold;
}
.media {
  margin-left: 150px;
  margin-top: 50px;
}